<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982319503453-5mfkpili247ej7p5d4rm322vcbqdrf9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982319503453-5mfkpili247ej7p5d4rm322vcbqdrf9l</string>
	<key>API_KEY</key>
	<string>AIzaSyBiJ03heH8fnGK9_nOnwwRMO225F6GP2mE</string>
	<key>GCM_SENDER_ID</key>
	<string>982319503453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.derekdileo.requestliveflutter</string>
	<key>PROJECT_ID</key>
	<string>request-live-ba5e8</string>
	<key>STORAGE_BUCKET</key>
	<string>request-live-ba5e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982319503453:ios:f0dc2fb8b4723fb83095b4</string>
</dict>
</plist>